@import url('https://fonts.googleapis.com/css?family=Righteous|Lato&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: Lato;
}

h1
{
    height: 0;
    visibility: hidden;
}

header
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    nav
    {
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: space-between;
        position: absolute;
        transition: background 0.6s ease-in, height 0.6s ease-in, padding 0.6s ease-in;
        width: 100%;
        z-index: 1;

        h2
        {
            display: none;
        }

        div
        {

            padding-left: 2rem;

            img
            {
                height: 70px;
                transition: height 0.6s ease-in;
            }

        }

        ul
        {
            align-items: center;
            display: flex;
            justify-content: space-between;
            list-style: none;
            
            li
            {
                padding-right: 2rem;
                transition: padding-right 0.6s ease-in;
                
                a
                {
                    color: #ccc;
                    font-family: Righteous;
                    font-size: 1.75rem;
                    font-weight: bold;
                    text-decoration: none;
                    transition: color 0.6s ease-in, font-size 0.6s ease-in;
    
                    &:hover
                    {
                        color: steelblue;
                        transition: color 0.6s ease-out;
                    }
                }
            }
        }

        #toggle
        {
            cursor: pointer;
            display: none;
            height: 29px;
            width: 35px;

            div
            {
                background-color: #ccc;
                height: 3px;
                margin: 5px;
                transition: background-color .4s ease-in;
            }
        }
    }


}

#showcase
{
    background-image: url(/themes/Default/assets/showcase/img/subackground.png);
    background-position: center 0;
    background-size: cover;
    color: #ccc;
    height: 100vh;
    width: 100%;

    h3
    {
        font-family: Righteous;
        font-size: 4rem;
        padding-top: 40vh;
        text-align: center;
        text-shadow: -3px 3px #000;
    }

    p
    {
        font-size: 1.6em;
        margin: auto;
        text-align: center;
        width: 50%;
    }
}

#moreinfo
{
    background: linear-gradient(#ccc, steelblue);
    color: #000;
    padding: 20px 10vw;

    h3
    {
        font-size: 4em;
        text-align: center;
        padding-bottom: 14px;
    }

    .services
    {
        align-items: center;
        display: flex;
        justify-content: space-between;

        div
        {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 308px;

            img
            {
                height: 80px;
                margin-bottom: 1rem;
            }

            span
            {
                display: inline-block;
                font-size: 1.3em;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            p
            {
                font-size: 1.2em;
                letter-spacing: 1px;
                margin-bottom: 1rem;
                text-align: center;
                text-transform: uppercase;
            }

            a
            {
                color: #333;
                font-size: 1.25em;
                text-decoration: none;
                text-transform: uppercase;
                transition: color 0.6s ease-in;

                &:hover
                {
                    color: steelblue;
                    transition: color 0.6s ease-out;
                }
            }
        }
    }
}

#demonstration
{
    background: linear-gradient(steelblue, #ccc);
    padding: 2rem;

    .trucks
    {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 10vw;
        
        div
        {
            border: 1px solid #aaa;
            min-height: 250px;
            min-width: 250px;

            img
            {
                height: 100%;
                width: 100%;
            }
        }
    }
}

#about
{
    background: linear-gradient(#ccc, darken(#ccc, 5));
    color: #000;
    padding: 10px 5vw;

    h3
    {
        padding: 0 0 20px;
        text-align: center;
        text-transform: uppercase;
    }

    p
    {
        margin-bottom: 10px;
        text-align: center;   
    }
}

footer
{
    align-items: top;
    background-color: #000;
    display: grid;
    grid-gap: 0 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    padding: 2rem 10vw;

    h3
    {
        margin-bottom: 10px;
    }
    
    ul
    {
        li
        {
            list-style: none;
            margin-bottom: 26px;
    
            a
            {
                color: #ccc;
                text-decoration: none;
 
                &:hover
                {
                    color: red;
                }
            }
        }
    }

    img
    {
        width: 120px;
    }
}

footer p
{
    font-size: 10px;
    margin-bottom: 24px;
}

.scrolling nav
{
    background: #ccc;
    height: 50px;
    padding: 5px 3rem 5px 4rem;
    transition: background 0.6s ease-out, height 0.6s ease-out, padding 0.6s ease-out;
}

.scrolling nav div img
{
    height: 40px;
    transition: height 0.6s ease-out;
}

.scrolling nav ul li
{
    padding-right: 1rem;
    transition: padding-right 0.6s ease-in;
}

.scrolling nav ul li a
{
    color: #000;
    font-size: 1.2rem;
    transition: color 0.6s ease-out, font-size 0.6s ease-out;
}

.transparency
{
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    left: 0;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
}
