@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Condensed&display=swap);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Roboto Condensed'
}

#showcase {
    background: url(../img/foodbg.jpeg);
    background-position: center 0;
    background-size: cover;
    color: #ffffef;
    height: 100vh;
    width: 100%
}

#showcase h3 {
    font-family: 'Great Vibes';
    font-size: 6em;
    font-weight: unset;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: -3px 3px 2px #000;
    text-transform: capitalize;
    padding-top: 40vh
}

#showcase p {
    font-size: 1.4em;
    text-align: center
}

#about {
    background: url(../img/sweedish_chef.png) bottom right/400px no-repeat;
    background-color: #ffffef;
    color: #655a52;
    min-height: 542px;
    padding: 40px 10vw 0
}

#about {
    display: flex;
    align-items: bottom
}

#about div h3 {
    font-size: 2.6em;
    padding-bottom: 3px
}

#about div p {
    font-size: 1.4em;
    padding: 10px 0;
    width: 75%
}

#about div span {
    display: inline-block;
    padding: 42px 0
}

#moreinfo {
    background-color: #655a52;
    color: #ffffef;
    padding: 20px
}

#moreinfo h3 {
    font-size: 3em;
    text-align: center
}

#moreinfo .services {
    margin: 20px 0 30px;
    display: flex;
    justify-content: space-evenly
}

#moreinfo .services div {
    text-align: center;
    width: 200px
}

#moreinfo .services div img {
    width: 100px;
}

#moreinfo .services div span {
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 12px
}

.transparency {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: inherit;
    position: inherit;
    top: inherit;
    width: 100%
}